<div class="w-full flex flex-col gap-10 p-10">

  <app-dash-nav [welcome]="false" title="گزارش عملکرد"></app-dash-nav>

  <div class="w-full flex flex-col gap-4 px-10">


    <div
      class="bg-amber-50/50 border-r-4 border-amber-500 p-4 rounded-lg transition-all shadow-sm">
      <div class="flex items-center justify-between">
        <div class="flex items-start">
          <span class="w-2 h-2 mt-2 bg-amber-500 rounded-full ml-3"></span>
          <div class="flex flex-col">
            <span class="font-bold text-amber-900">توجه : پس از پذیرش بیمار، آماده سازی مقدمات پذیرش در حدود 30-60 ثانیه به طول می انجامد. پس از پایان این زمان، لیست را refresh کنید</span>
            <br>

            <span class=" text-amber-900">در صورتی که بیمار خود را پذیرش و معاینه کرده اید، حدود 10 ثانیه صبر کرده و مجددا صفحه را به روز رسانی کنید تا نتیجه ویزیت بیمار را مشاهده کنید</span>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="w-full flex flex-row justify-between px-10 text-gray-400 text-sm items-center">
    <div class="flex flex-row items-center gap-5">
      <p>{{ data?.length }} نتیجه یافت شد</p>
      <p>اعتبار شما: {{ this.credit() }} بیمار </p>
    </div>
    <div class="flex flex-row gap-5 items-center">
      <app-action (click)="createScenrio()" icon="images/svg/add-large-fill.svg" text="پذیرش بیمار"></app-action>
      <app-action (click)="this.getList()" icon="images/svg/refresh-line.svg"></app-action>
    </div>

  </div>

  <app-card>
    <table class="w-full text-sm text-center text-gray-500">
      <thead class="text-xs text-gray-700 uppercase">
      <tr>
        <th class="px-6 py-3" scope="col">#</th>
        <th class="px-6 py-3" scope="col">کد پیگیری</th>
        <th class="px-6 py-3" scope="col">تاریخ ویزیت بیمار</th>
        <th class="px-6 py-3" scope="col">بیماری</th>
        <th class="px-6 py-3" scope="col">نمره</th>
        <th class="px-6 py-3" scope="col">وضعیت</th>
        <th class="px-6 py-3" scope="col">عملیات</th>
      </tr>
      </thead>
      <tbody>
        @for (a of data; track a; let i = $index) {
          <tr class="border-b border-b-black/30 hover:bg-white/50">
            <td class="px-6 py-4 font-medium text-gray-900">{{ i + 1 }}</td>

            <td class="px-6 py-4 font-mono">{{ a.tracking_code }}</td>

            <td>
              @if (a.is_done) {
                {{ formatDate(a.start_time) }}
              } @else {
                <span class="text-gray-400 text-xs">—</span>
              }
            </td>
            <td>
              @if (a.is_done) {
                {{ a.disease_name }}
              } @else {
                <span class="text-gray-400 text-xs">—</span>
              }
            </td>
            <td>
              @if (a.is_done) {
                {{ a.score }}
              } @else {
                <span class="text-gray-400 text-xs">—</span>
              }
            </td>

            <td class="px-6 py-4">
              @if (a.is_done) {
                <span class="flex items-center justify-center text-green-600">
                <span class="w-2 h-2 bg-green-600 rounded-full ml-2"></span>
                انجام شده
              </span>
              } @else {
                <span class="flex items-center justify-center text-amber-600">
                <span class="w-2 h-2 bg-amber-600 rounded-full ml-2"></span>
                در انتظار ویزیت
              </span>
              }
            </td>

            <td class="px-6 py-4">
              <div class="flex justify-center items-center">
                @if (a.is_done) {
                  @let feedbackCode = getFeedbackCode(a.tracking_code);

                  @if (feedbackCode) {
                    <app-action
                      class="w-fit"
                      text="مشاهده گزارش"
                      [url]="'/report/' + feedbackCode">
                    </app-action>
                  } @else {
                    <span class="text-xs text-gray-400 italic">
    در حال تولید گزارش...
  </span>
                  }

                } @else {
                  <app-action
                    class="w-fit"
                    text="ویزیت بیمار"
                    [url]="'/scenario/' + a.tracking_code">
                  </app-action>
                }
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </app-card>
</div>
