:host ::ng-deep .p-inputotp {
  display: flex !important;
  justify-content: space-around;
  gap: 1rem !important; /* فاصله بیشتر */
  width: 100%;
  direction: ltr !important;
}

.custom-otp-input {
  width: 40px !important;
  font-size: 36px !important;
  border: 0 none !important;
  appearance: none !important;
  text-align: center !important;
  transition: all 0.2s !important;
  background: transparent !important;
  border-bottom: 3px solid #d1d5db !important; /* خط پایین ضخیم تر */
  border-radius: 0px !important;
  direction: ltr !important;
  padding-bottom: 0.5rem !important;
}

.custom-otp-input:focus {
  outline: 0 none !important;
  border-bottom-color: #148691 !important; /* رنگ آبی شما */
  border-bottom-width: 4px !important;
}

.custom-otp-input:disabled {
  background-color: transparent !important;
  color: #9ca3af !important;
  cursor: not-allowed !important;
  border-bottom-color: #e5e7eb !important;
}
