<div class="w-full h-screen flex">

  <!-- Right -->
  <div class="w-1/5 text-white p-6 flex flex-col">

    <!-- Logo -->
    <div class="flex flex-col items-center gap-3 mb-6">
      <img [src]="logo" class="h-20"/>
      <img [src]="APP_CONFIG.olomURL" class="h-20">
    </div>

    <!-- Sections -->
    <div class="flex flex-col w-full gap-5">
      @for (section of sections; track section) {
        @if (section.id === 6) {
          @let isSectionDisabled = true;

          <button
            (click)="selectSection(section)"
            [disabled]="isSectionDisabled"
            [ngClass]="{
            'bg-[#4b4b4b] shadow-[0_4px_0_#333333] cursor-not-allowed': isSectionDisabled,
            'bg-[#148591]/50': !isSectionDisabled && activeSection==section.id,
            'bg-[#148591]': !isSectionDisabled && activeSection!=section.id,
            'hover:bg-[#0f747c] active:translate-y-1 active:shadow-[0_2px_0_#0f6c74]': !isSectionDisabled
        }"
            class="flex flex-row gap-3 items-center
               text-white
               font-semibold
               px-6
               py-3
               rounded-2xl
               shadow-[0_4px_0_#0f6c74]
               transition-all
               duration-150"
          >
            <i [class]="section.icon + ' text-2xl'"></i>
            <p>{{ section.title }}</p>
          </button>

        } @else {
          @let isSectionDisabled = false;

          <button (click)="playClick(); selectSection(section)"
                  [ngClass]="activeSection==section.id ? 'bg-[#148591]/50' : 'bg-[#148591]'  "
                  class="cursor-pointer flex flex-row gap-3 items-center
                     bg-[#148591]
                     text-white
                     font-semibold
                     px-6
                     py-3
                     rounded-2xl
                     shadow-[0_4px_0_#0f6c74]
                     hover:bg-[#0f747c]
                     active:translate-y-1
                     active:shadow-[0_2px_0_#0f6c74]
                     transition-all
                     duration-150"
          >
            <i [class]="section.icon + ' text-2xl'"></i>
            <p>{{ section.title }}</p>

          </button>
        }
      }
    </div>

  </div>

  <!-- Questions Sidebar -->
  <div class="w-3/10 bg-[#148591] text-white p-6 flex flex-col overflow-y-auto">

    @if (activeSection == 1) {
      <div class="w-full min-h-screen p-6 flex flex-col items-center justify-center text-white"
           style="background-color: #148591;">

        <div
          class="w-full max-w-lg p-8 rounded-2xl shadow-2xl bg-white/10 backdrop-blur-sm flex flex-col items-center gap-6">

          <div class="flex flex-col items-center gap-2 border-b border-white/30 pb-4 w-full">
            <p class="text-4xl font-extrabold tracking-wide">
              {{ data.patient_profile.personal_information.first_name + ' ' + data.patient_profile.personal_information.last_name }}
            </p>

            <div class="flex gap-4 text-lg font-medium">
              <span>{{ data.patient_profile.personal_information.gender }}</span>
              <span class="text-white/70">|</span>
              <span>{{ data.patient_profile.personal_information.age }}</span>
              <span class="text-white/70">|</span>
              <span>{{ data.patient_profile.personal_information.marital_status }}</span>
            </div>

            <p class="text-base text-white/80 mt-1">
              شغل: {{ data.patient_profile.personal_information.occupation }}
            </p>

            <p class="text-sm opacity-60 mt-2">
              محل تولد: {{ data.patient_profile.personal_information.place_of_birth }} |
              محل سکونت: {{ data.patient_profile.personal_information.place_of_residence }}
            </p>
          </div>

          <div class="w-full p-4 rounded-xl bg-white/10 flex flex-col gap-1 items-center">
            <span class="text-sm font-light opacity-80">شکایت اصلی:</span>
            <span class="text-xl font-semibold text-center">{{ data.patient_profile.chief_complaint }}</span>
          </div>

        </div>
      </div>

    } @else if (activeSection == 2) {
      <div class="grid grid-cols-1 md:grid-cols-1 gap-6">

        <div class="p-4 rounded-xl shadow-lg bg-white/10">
          <h3 class="text-xl font-bold mb-4 border-b border-white/30 pb-2">Present Illness</h3>
          @for (q of questionsBySection['present_illness']; track q.id) {
            <div class="bg-black/20 p-3 rounded-lg mb-2 cursor-pointer hover:bg-black/30 transition duration-150"
                 (click)="handleQuestionClick(q, 'present_illness', 'history_taking')">

              <p class="font-semibold">{{ q.title }}</p>

              @if (q.open) {
                <p class="text-sm text-gray-200 mt-2">
                  {{ q.answer }}
                </p>
              }
            </div>
          }
        </div>


        <div class="p-4 rounded-xl shadow-lg bg-white/10">
          <h3 class="text-xl font-bold mb-4 border-b border-white/30 pb-2">Past Medical History</h3>
          @for (q of questionsBySection['past_medical_history']; track q.id) {
            <div class="bg-black/20 p-3 rounded-lg mb-2 cursor-pointer hover:bg-black/30 transition duration-150"
                 (click)="handleQuestionClick(q, 'past_medical_history', 'history_taking')">

              <p class="font-semibold">{{ q.title }}</p>

              @if (q.open) {
                <p class="text-sm text-gray-200 mt-2">
                  {{ q.answer }}
                </p>
              }
            </div>
          }
        </div>


        <div class="p-4 rounded-xl shadow-lg bg-white/10">
          <h3 class="text-xl font-bold mb-4 border-b border-white/30 pb-2">Drug History</h3>
          @for (q of questionsBySection['drug_history']; track q.id) {
            <div class="bg-black/20 p-3 rounded-lg mb-2 cursor-pointer hover:bg-black/30 transition duration-150"
                 (click)="handleQuestionClick(q, 'drug_history', 'history_taking')">

              <p class="font-semibold">{{ q.title }}</p>

              @if (q.open) {
                <p class="text-sm text-gray-200 mt-2">
                  {{ q.answer }}
                </p>
              }
            </div>
          }
        </div>


        <div class="p-4 rounded-xl shadow-lg bg-white/10">
          <h3 class="text-xl font-bold mb-4 border-b border-white/30 pb-2">Allergies</h3>
          @for (q of questionsBySection['allergies']; track q.id) {
            <div class="bg-black/20 p-3 rounded-lg mb-2 cursor-pointer hover:bg-black/30 transition duration-150"
                 (click)="handleQuestionClick(q, 'allergies', 'history_taking')">

              <p class="font-semibold">{{ q.title }}</p>

              @if (q.open) {
                <p class="text-sm text-gray-200 mt-2">
                  {{ q.answer }}
                </p>
              }
            </div>
          }
        </div>


        <div class="p-4 rounded-xl shadow-lg bg-white/10">
          <h3 class="text-xl font-bold mb-4 border-b border-white/30 pb-2">Family History</h3>
          @for (q of questionsBySection['family_history']; track q.id) {
            <div class="bg-black/20 p-3 rounded-lg mb-2 cursor-pointer hover:bg-black/30 transition duration-150"
                 (click)="handleQuestionClick(q, 'family_history', 'history_taking')">

              <p class="font-semibold">{{ q.title }}</p>

              @if (q.open) {
                <p class="text-sm text-gray-200 mt-2">
                  {{ q.answer }}
                </p>
              }
            </div>
          }
        </div>


        <div class="p-4 rounded-xl shadow-lg bg-white/10">
          <h3 class="text-xl font-bold mb-4 border-b border-white/30 pb-2">Social History</h3>
          @for (q of questionsBySection['social_history']; track q.id) {
            <div class="bg-black/20 p-3 rounded-lg mb-2 cursor-pointer hover:bg-black/30 transition duration-150"
                 (click)="handleQuestionClick(q, 'social_history', 'history_taking')">

              <p class="font-semibold">{{ q.title }}</p>

              @if (q.open) {
                <p class="text-sm text-gray-200 mt-2">
                  {{ q.answer }}
                </p>
              }
            </div>
          }
        </div>


        <div class="p-4 rounded-xl shadow-lg bg-white/10">
          <h3 class="text-xl font-bold mb-4 border-b border-white/30 pb-2">Review Of System</h3>
          @for (q of questionsBySection['ros']; track q.id) {
            <div class="bg-black/20 p-3 rounded-lg mb-2 cursor-pointer hover:bg-black/30 transition duration-150"
                 (click)="handleQuestionClick(q, 'ros', 'history_taking')">

              <p class="font-semibold">{{ q.title }}</p>

              @if (q.open) {
                <p class="text-sm text-gray-200 mt-2">
                  {{ q.answer }}
                </p>
              }
            </div>
          }
        </div>


      </div>

    } @else if (activeSection == 3) {
      <h2 class="text-3xl font-bold mb-6 text-center"> معاینه فیزیکی</h2>

      <div class="grid grid-cols-1 md:grid-cols-1 gap-6">

        <!--معاینه عمومی-->
        <div class="p-4 rounded-xl shadow-lg bg-white/10">
          <h3 class="text-xl font-bold mb-4 border-b border-white/30 pb-2">معاینه عمومی </h3>
          @for (q of physicalExamBySection['general_appearance']; track q.id) {
            <div class="bg-black/20 p-3 rounded-lg mb-2 cursor-pointer hover:bg-black/30 transition duration-150"
                 (click)="handleQuestionClick(q, 'general_appearance', 'physical_exam')">

              <p class="font-semibold">{{ q.title }}</p>

              @if (q.open) {
                <p class="text-sm text-gray-200 mt-2">
                  {{ q.answer }}
                </p>
              }
            </div>
          }
        </div>

        <!--        علائم حیاتی-->
        <div class="p-4 rounded-xl shadow-lg bg-white/10">
          <h3 class="text-xl font-bold mb-4 border-b border-white/30 pb-2">علائم حیاتی</h3>
          @for (q of physicalExamBySection['vital_signs']; track q.id) {
            <div class="bg-black/20 p-3 rounded-lg mb-2 cursor-pointer hover:bg-black/30 transition duration-150"
                 (click)="handleQuestionClick(q, 'vital_signs', 'physical_exam')">

              <p class="font-semibold">{{ q.title }}</p>

              @if (q.open) {
                <p class="text-sm text-gray-200 mt-2">
                  {{ q.answer }}
                </p>
              }
            </div>
          }
        </div>

        <div class="p-4 rounded-xl shadow-lg bg-white/10">
          <h3 class="text-xl font-bold mb-4 border-b border-white/30 pb-2">سیستم عصبی </h3>
          @for (q of physicalExamBySection['neurological']; track q.id) {
            <div class="bg-black/20 p-3 rounded-lg mb-2 cursor-pointer hover:bg-black/30 transition duration-150"
                 (click)="handleQuestionClick(q, 'neurological', 'physical_exam')">

              <p class="font-semibold">{{ q.title }}</p>

              @if (q.open) {
                <p class="text-sm text-gray-200 mt-2">
                  {{ q.answer }}
                </p>
              }
            </div>
          }
        </div>

        <div class="p-4 rounded-xl shadow-lg bg-white/10">
          <h3 class="text-xl font-bold mb-4 border-b border-white/30 pb-2">سر و گردن </h3>
          @for (q of physicalExamBySection['head_and_neck']; track q.id) {
            <div class="bg-black/20 p-3 rounded-lg mb-2 cursor-pointer hover:bg-black/30 transition duration-150"
                 (click)="handleQuestionClick(q, 'head_and_neck', 'physical_exam')">

              <p class="font-semibold">{{ q.title }}</p>

              @if (q.open) {
                <p class="text-sm text-gray-200 mt-2">
                  {{ q.answer }}
                </p>
              }
            </div>
          }
        </div>

        <div class="p-4 rounded-xl shadow-lg bg-white/10">
          <h3 class="text-xl font-bold mb-4 border-b border-white/30 pb-2">سیستم تنفسی </h3>
          @for (q of physicalExamBySection['respiratory_system']; track q.id) {
            <div class="bg-black/20 p-3 rounded-lg mb-2 cursor-pointer hover:bg-black/30 transition duration-150"
                 (click)="handleQuestionClick(q, 'respiratory_system', 'physical_exam')">

              <p class="font-semibold">{{ q.title }}</p>

              @if (q.open) {
                <p class="text-sm text-gray-200 mt-2">
                  {{ q.answer }}
                </p>
              }
            </div>
          }
        </div>

        <div class="p-4 rounded-xl shadow-lg bg-white/10">
          <h3 class="text-xl font-bold mb-4 border-b border-white/30 pb-2">سیستم قلبی عروقی </h3>
          @for (q of physicalExamBySection['cardiovascular_system']; track q.id) {
            <div class="bg-black/20 p-3 rounded-lg mb-2 cursor-pointer hover:bg-black/30 transition duration-150"
                 (click)="handleQuestionClick(q, 'cardiovascular_system', 'physical_exam')">

              <p class="font-semibold">{{ q.title }}</p>

              @if (q.open) {
                <p class="text-sm text-gray-200 mt-2">
                  {{ q.answer }}
                </p>
              }
            </div>
          }
        </div>

        <div class="p-4 rounded-xl shadow-lg bg-white/10">
          <h3 class="text-xl font-bold mb-4 border-b border-white/30 pb-2">سیستم شکمی</h3>
          @for (q of physicalExamBySection['abdominal_system']; track q.id) {
            <div class="bg-black/20 p-3 rounded-lg mb-2 cursor-pointer hover:bg-black/30 transition duration-150"
                 (click)="handleQuestionClick(q, 'abdominal_system', 'physical_exam')">

              <p class="font-semibold">{{ q.title }}</p>

              @if (q.open) {
                <p class="text-sm text-gray-200 mt-2">
                  {{ q.answer }}
                </p>
              }
            </div>
          }
        </div>

        <div class="p-4 rounded-xl shadow-lg bg-white/10">
          <h3 class="text-xl font-bold mb-4 border-b border-white/30 pb-2">سیستم عضلانی-اسکلتی</h3>
          @for (q of physicalExamBySection['musculoskeletal_system']; track q.id) {
            <div class="bg-black/20 p-3 rounded-lg mb-2 cursor-pointer hover:bg-black/30 transition duration-150"
                 (click)="handleQuestionClick(q, 'musculoskeletal_system', 'physical_exam')">

              <p class="font-semibold">{{ q.title }}</p>

              @if (q.open) {
                <p class="text-sm text-gray-200 mt-2">
                  {{ q.answer }}
                </p>
              }
            </div>
          }
        </div>

      </div>

    } @else if (activeSection == 4) {


      <h2 class="text-3xl font-bold mb-6 text-center"> پاراکلینیک </h2>

      <div class="grid grid-cols-1 md:grid-cols-1 gap-6">

        <div class="p-4 rounded-xl shadow-lg bg-white/10">
          <h3 class="text-xl font-bold mb-4 border-b border-white/30 pb-2">آزمایش های پایه خون</h3>
          @for (q of paraclinicBySection['basic_blood_tests']; track q.id) {
            <div class="bg-black/20 p-3 rounded-lg mb-2 cursor-pointer hover:bg-black/30 transition duration-150"
                 (click)="handleQuestionClick(q, 'basic_blood_tests', 'paraclinic')">

              <p class="font-semibold">{{ q.title }}</p>

              @if (q.open) {
                <p class="text-sm text-gray-200 mt-2">
                  {{ q.answer }}
                </p>
              }
            </div>
          }
        </div>


        <div class="p-4 rounded-xl shadow-lg bg-white/10">
          <h3 class="text-xl font-bold mb-4 border-b border-white/30 pb-2">آزمایش های تخصصی ریه</h3>
          @for (q of paraclinicBySection['specialized_lung_tests']; track q.id) {
            <div class="bg-black/20 p-3 rounded-lg mb-2 cursor-pointer hover:bg-black/30 transition duration-150"
                 (click)="handleQuestionClick(q, 'specialized_lung_tests', 'paraclinic')">

              <p class="font-semibold">{{ q.title }}</p>

              @if (q.open) {
                <p class="text-sm text-gray-200 mt-2">
                  {{ q.answer }}
                </p>
              }
            </div>
          }
        </div>


        <div class="p-4 rounded-xl shadow-lg bg-white/10">
          <h3 class="text-xl font-bold mb-4 border-b border-white/30 pb-2">ایمنی و سرولوژی</h3>
          @for (q of paraclinicBySection['immunity_and_serology']; track q.id) {
            <div class="bg-black/20 p-3 rounded-lg mb-2 cursor-pointer hover:bg-black/30 transition duration-150"
                 (click)="handleQuestionClick(q, 'immunity_and_serology', 'paraclinic')">

              <p class="font-semibold">{{ q.title }}</p>

              @if (q.open) {
                <p class="text-sm text-gray-200 mt-2">
                  {{ q.answer }}
                </p>
              }
            </div>
          }
        </div>


        <div class="p-4 rounded-xl shadow-lg bg-white/10">
          <h3 class="text-xl font-bold mb-4 border-b border-white/30 pb-2">تست های عملکردی</h3>
          @for (q of paraclinicBySection['functional_tests']; track q.id) {
            <div class="bg-black/20 p-3 rounded-lg mb-2 cursor-pointer hover:bg-black/30 transition duration-150"
                 (click)="handleQuestionClick(q, 'functional_tests', 'paraclinic')">

              <p class="font-semibold">{{ q.title }}</p>

              @if (q.open) {
                <p class="text-sm text-gray-200 mt-2">
                  {{ q.answer }}
                </p>
              }
            </div>
          }
        </div>

        <!--        تصویر برداری عمومی-->
        <div class="p-4 rounded-xl shadow-lg bg-white/10">
          <h3 class="text-xl font-bold mb-4 border-b border-white/30 pb-2">تصویر برداری عمومی</h3>
          @for (q of paraclinicBySection['simple_imaging']; track q.id) {
            <div class="bg-black/20 p-3 rounded-lg mb-2 cursor-pointer hover:bg-black/30 transition duration-150"
                 (click)="handleQuestionClick(q, 'simple_imaging', 'paraclinic')">

              <p class="font-semibold">{{ q.title }}</p>

              @if (q.open) {
                <p class="text-sm text-gray-200 mt-2">
                  {{ q.answer }}
                </p>
              }
            </div>
          }
        </div>

        <!--        تصویر برداری تخصصی-->
        <div class="p-4 rounded-xl shadow-lg bg-white/10">
          <h3 class="text-xl font-bold mb-4 border-b border-white/30 pb-2">تصویر برداری تخصصی</h3>
          @for (q of paraclinicBySection['advanced_imaging']; track q.id) {
            <div class="bg-black/20 p-3 rounded-lg mb-2 cursor-pointer hover:bg-black/30 transition duration-150"
                 (click)="handleQuestionClick(q, 'advanced_imaging', 'paraclinic')">

              <p class="font-semibold">{{ q.title }}</p>

              @if (q.open) {
                <p class="text-sm text-gray-200 mt-2">
                  {{ q.answer }}
                </p>
              }
            </div>
          }
        </div>


        <div class="p-4 rounded-xl shadow-lg bg-white/10">
          <h3 class="text-xl font-bold mb-4 border-b border-white/30 pb-2">پراسیجر ها</h3>
          @for (q of paraclinicBySection['procedures']; track q.id) {
            <div class="bg-black/20 p-3 rounded-lg mb-2 cursor-pointer hover:bg-black/30 transition duration-150"
                 (click)="handleQuestionClick(q, 'procedures', 'paraclinic')">

              <p class="font-semibold">{{ q.title }}</p>

              @if (q.open) {
                <p class="text-sm text-gray-200 mt-2">
                  {{ q.answer }}
                </p>
              }
            </div>
          }
        </div>


      </div>

    } @else {
      <div class="w-full min-h-screen p-6 flex flex-col items-center justify-center text-white"
           style="background-color: #148591;">

        <div
          class="w-full max-w-lg p-8 rounded-2xl shadow-2xl bg-white/10 backdrop-blur-sm flex flex-col items-center gap-6">

          <div class="flex flex-col items-center gap-2 border-b border-white/30 pb-4 w-full">
            <p class="text-4xl font-extrabold tracking-wide">
              {{ data.patient_profile.personal_information.first_name + ' ' + data.patient_profile.personal_information.last_name }}
            </p>

            <div class="flex gap-4 text-lg font-medium">
              <span>{{ data.patient_profile.personal_information.gender }}</span>
              <span class="text-white/70">|</span>
              <span>{{ data.patient_profile.personal_information.age }}</span>
              <span class="text-white/70">|</span>
              <span>{{ data.patient_profile.personal_information.marital_status }}</span>
            </div>

            <p class="text-base text-white/80 mt-1">
              شغل: {{ data.patient_profile.personal_information.occupation }}
            </p>

            <p class="text-sm opacity-60 mt-2">
              محل تولد: {{ data.patient_profile.personal_information.place_of_birth }} |
              محل سکونت: {{ data.patient_profile.personal_information.place_of_residence }}
            </p>
          </div>

          <div class="w-full p-4 rounded-xl bg-white/10 flex flex-col gap-1 items-center">
            <span class="text-sm font-light opacity-80">شکایت اصلی:</span>
            <span class="text-xl font-semibold text-center">{{ data.patient_profile.chief_complaint }}</span>
          </div>

        </div>
      </div>

    }

  </div>

  <!-- Left image -->

  <div class="w-1/2 h-full relative flex flex-col overflow-visible">

    <!-- اگر عکس باشد -->
    @if (mediaType === 'image') {
      <div
        [style.backgroundImage]="'url(' + mediaUrl + ')'"
        class="w-full h-full bg-cover bg-center">
      </div>
    }

    <!-- اگر ویدیو باشد -->



    @if (mediaType === 'video') {

      <video
        (loadeddata)="isVideoLoading.set(false)"
        autoplay
        class="w-full h-full object-cover"
        loop
        muted>
        <source [src]="mediaUrl" type="video/mp4"/>
      </video>
    }
    @if (mediaType === 'video' && isVideoLoading()) {
      <div
        class="absolute inset-0 flex items-center justify-center bg-black/50 z-20">

        <div class="w-12 h-12 border-4 border-white/30 border-t-white rounded-full animate-spin"></div>

      </div>
    }

    <!-- بقیه آیتم‌ها (پروفایل، تایمر...) سر جایشان بمانند -->

    <!-- Profile box -->
    <div
      class="absolute top-5 left-5 py-3 px-6 rounded-full flex items-center gap-5
      bg-gradient-to-l from-[#148691] to-[#216067] shadow-md"
    >
      <img [routerLink]="'/dashboard/s/profile'" [src]="sessionStorage.getItem('avatar')"
           class="rounded-full cursor-pointer object-cover w-10 h-10 border-2 border-white">

      <p [routerLink]="'/dashboard/s/profile'"
         class="text-white cursor-pointer">
        {{ sessionStorage.getItem('first_name') + ' ' + sessionStorage.getItem('last_name') }}
      </p>

      <img class="w-6 h-auto cursor-pointer" src="images/svg/search.svg">
    </div>

    <!-- Timer left -->
    <div
      class="absolute bottom-5 left-5 py-3 w-40 justify-center text-white rounded-full flex-row flex items-center gap-5 bg-gradient-to-l from-[#148691] to-[#216067] shadow-md">
      <p>زمان : </p>
      <p>{{ timer() }}</p>
    </div>

    <!-- Timer right with circular image -->
    <div class="absolute bottom-5 right-5 justify-between  p-2 w-40 text-white rounded-full flex items-center gap-3
      bg-gradient-to-l from-[#148691] to-[#216067] shadow-md overflow-visible">

      <img
        [src]="sessionStorage.getItem('avatar')"
        class="w-12 h-12 rounded-full border-4 border-white shadow-lg z-10"
      />

      <p class="m-3">پزشکیار</p>

      <!-- تصویر دایره‌ای -->

    </div>

  </div>


  <!--  <div-->
  <!--    (click)="console.log(Log)"-->
  <!--    [style.backgroundImage]="'url(' + imageUrl() + ')'"-->
  <!--    class="w-1/2 h-full bg-cover bg-center relative flex flex-col overflow-visible"-->
  <!--  >-->

  <!--    &lt;!&ndash; Profile box &ndash;&gt;-->
  <!--    <div-->
  <!--      class="absolute top-5 left-5 py-3 px-6 rounded-full flex items-center gap-5-->
  <!--      bg-gradient-to-l from-[#148691] to-[#216067] shadow-md"-->
  <!--    >-->
  <!--      <img [routerLink]="'/dashboard/s/profile'" [src]="sessionStorage.getItem('avatar')"-->
  <!--           class="rounded-full cursor-pointer object-cover w-10 h-10 border-2 border-white">-->

  <!--      <p [routerLink]="'/dashboard/s/profile'"-->
  <!--         class="text-white cursor-pointer">-->
  <!--        {{ sessionStorage.getItem('first_name') + ' ' + sessionStorage.getItem('last_name') }}-->
  <!--      </p>-->

  <!--      <img class="w-6 h-auto cursor-pointer" src="images/svg/search.svg">-->
  <!--    </div>-->

  <!--    &lt;!&ndash; Timer left &ndash;&gt;-->
  <!--    <div-->
  <!--      class="absolute bottom-5 left-5 py-3 w-40 justify-center text-white rounded-full flex-row flex items-center gap-5 bg-gradient-to-l from-[#148691] to-[#216067] shadow-md">-->
  <!--      <p>زمان : </p>-->
  <!--      <p>{{ timer() }}</p>-->
  <!--    </div>-->

  <!--    &lt;!&ndash; Timer right with circular image &ndash;&gt;-->
  <!--    <div class="absolute bottom-5 right-5 justify-between  p-2 w-40 text-white rounded-full flex items-center gap-3-->
  <!--      bg-gradient-to-l from-[#148691] to-[#216067] shadow-md overflow-visible">-->

  <!--      <img-->
  <!--        [src]="sessionStorage.getItem('avatar')"-->
  <!--        class="w-12 h-12 rounded-full border-4 border-white shadow-lg z-10"-->
  <!--      />-->

  <!--      <p class="m-3">پزشکیار</p>-->

  <!--      &lt;!&ndash; تصویر دایره‌ای &ndash;&gt;-->

  <!--    </div>-->
  <!--  </div>-->

</div>


@if (showDifferentialDiagnosisModal) {
  <div class="fixed inset-0 bg-black/50 bg-opacity-70 flex items-center justify-center z-50">
    <div class="bg-gray-800 p-8 rounded-xl shadow-2xl text-white w-full max-w-lg">

      <h3 class="text-2xl font-bold mb-6 text-center border-b border-white/30 pb-3">
        تشخیص افتراقی
      </h3>

      @if (differentialDiagnosisStage === 1) {
        <div>
          <p class="mb-4 text-center">

            لطفاً 2-4 بیماری را از لیست زیر برای تشخیص افتراقی انتخاب کنید.
            <br>
            <span class="font-bold text-yellow-400">({{ selectedDifferentialDiseases.length }} / 4)</span>
          </p>

          <div class="grid grid-cols-2 gap-3 mb-6">
            @for (disease of diseases; track disease.name) {
              <button
                (click)="toggleDiseaseSelection(disease)"
                [ngClass]="{
        'bg-[#148591] hover:bg-[#0f747c] shadow-[0_3px_0_#0f6c74]': selectedDifferentialDiseases.includes(disease),
        'bg-gray-600 hover:bg-gray-700 shadow-[0_3px_0_#4a4a4a]': !selectedDifferentialDiseases.includes(disease)
      }"
                class="py-2 rounded-lg font-semibold transition-all duration-150 active:translate-y-0.5 active:shadow-[0_1px_0]"
              >
                {{ disease.name.replace('_', ' ') }}
              </button>
            }
          </div>

          <button (click)="goToFinalDiagnosisStage()"
                  [disabled]="selectedDifferentialDiseases.length !== 2 && selectedDifferentialDiseases.length !== 3 && selectedDifferentialDiseases.length !== 4"
                  [ngClass]="{
                    'bg-green-600 hover:bg-green-700': selectedDifferentialDiseases.length >= 2 && selectedDifferentialDiseases.length <= 4 ,
                    'bg-gray-500 cursor-not-allowed': selectedDifferentialDiseases.length < 2 || selectedDifferentialDiseases.length > 4
                  }"
                  class="mt-4 w-full py-3 text-white font-bold rounded-lg transition duration-150 shadow-[0_4px_0_#0a522e] active:translate-y-1 active:shadow-[0_2px_0_#0a522e]"
          >
            ادامه (انتخاب تشخیص نهایی)
          </button>
        </div>
      } @else if (differentialDiagnosisStage === 2) {
        <div>
          <p class="mb-4 text-center">
            از بین تشخیص های افتراقی، تشخیص نهایی را انتخاب کنید.
          </p>

          <div class="grid grid-cols-2 gap-3 mb-6">
            @for (disease of selectedDifferentialDiseases; track disease.name) {
              <button
                (click)="setFinalDiagnosis(disease.name)"
                [ngClass]="{
                  'bg-yellow-500 text-gray-900 font-extrabold shadow-[0_3px_0_#9a7000]': finalDiagnosis === disease.name,
                  'bg-gray-600 hover:bg-gray-700 shadow-[0_3px_0_#4a4a4a]': finalDiagnosis !== disease.name
                }"
                class="py-2 rounded-lg font-semibold transition-all duration-150 active:translate-y-0.5 active:shadow-[0_1px_0]"
              >
                {{ disease.name.replace('_', ' ') }}
              </button>
            }
          </div>

          <button (click)="finishScenario()"
                  [disabled]="!finalDiagnosis"
                  [ngClass]="{
                    'bg-red-600 hover:bg-red-700': finalDiagnosis,
                    'bg-gray-500 cursor-not-allowed': !finalDiagnosis
                  }"
                  class="mt-4 w-full py-3 text-white font-bold rounded-lg transition duration-150 shadow-[0_4px_0_#8c160b] active:translate-y-1 active:shadow-[0_2px_0_#8c160b]"
          >
            پایان سناریو و ذخیره تشخیص نهایی
          </button>

          <button (click)="differentialDiagnosisStage = 1; finalDiagnosis = null"
                  class="mt-3 w-full py-2 text-sm bg-gray-700 hover:bg-gray-600 rounded-lg transition duration-150">
            بازگشت به مرحله انتخاب ۴ بیماری
          </button>
        </div>
      }

      <button (click)="closeDifferentialDiagnosisModal()"
              class="mt-6 w-full py-2 bg-gray-700 text-white font-semibold rounded-lg hover:bg-gray-600 transition duration-150">
        بستن پنجره
      </button>

    </div>
  </div>
}
